@media print {
  @page {
    size: landscape;
    margin: 1cm;
  }

  body * {
    visibility: hidden;
  }

  #track-content,
  #track-content * {
    visibility: visible;
  }

  #track-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: white !important;
    color: black !important;
  }

  .no-print {
    display: none !important;
  }
} 